.about-container{
    padding: 7vw 15vw;
    background: rgb(231, 231, 231);
    margin-top: -80px;
}

.aboutheading h2{
    font-family: "Bebas Neue", sans-serif;
    font-size:  6.5vw;
    font-weight: 700;
    color: rgb(48, 48, 48);
    margin-bottom: 30px;

}

.about-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-flex .left{
    flex-basis: 47%;
    background: red;
    padding: 20px;
    border-radius: 20px;


}

.about-flex .left img{
width: 100%;
}


.about-flex .right{
    flex-basis: 47%;
    background: rgb(0,13,92);
    background: linear-gradient(204deg, rgba(0,13,92,1) 0%, rgba(0,0,0,1) 100%);
    padding: 30px;
    border: 20px solid #01093B;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-flex .right p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:  1.5vw;
    font-weight: 500;
    color: rgb(228, 228, 228); 
    text-align: center;
    font-style: italic;
}


@media screen and (max-width: 650px) {
    .about-container{
        padding: 15vw 5vw;
        margin-top: -64px;
    
    }
    .about-flex{
        gap: 20px;
    }
    .aboutheading h2{
       
        font-size:  9vw;
        text-align: center;

    
    }
    .about-flex .left{
        flex-basis: 100%;
    }
    .about-flex .right{
        flex-basis: 100%;
        padding: 30px 15px;
    }

    .about-flex .right p{
        font-size:  5vw;
    }
}

